In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\HP\Desktop\Data Analysis\Part 3 - Regression using Python\Customer.csv")

In [2]:
df

,Customer ID,Customer Name,Segment,Age,Country,City,State,Postal Code,Region
0,CG-12520,Claire Gute,Consumer,67,United States,Henderson,Kentucky,42420,South
1,DV-13045,Darrin Van Huff,Corporate,31,United States,Los Angeles,California,90036,West
2,SO-20335,Sean O'Donnell,Consumer,65,United States,Fort Lauderdale,Florida,33311,South
3,BH-11710,Brosina Hoffman,Consumer,20,United States,Los Angeles,California,90032,West
4,AA-10480,Andrew Allen,Consumer,50,United States,Concord,North Carolina,28027,South
...,...,...,...,...,...,...,...,...,...
788,CJ-11875,Carl Jackson,Corporate,64,United States,Philadelphia,Pennsylvania,19140,East
789,RS-19870,Roy Skaria,Home Office,39,United States,Burlington,Iowa,52601,Central
790,SC-20845,Sung Chung,Consumer,69,United States,Arlington Heights,Illinois,60004,Central
791,RE-19405,Ricardo Emerson,Consumer,35,United States,Kent,Ohio,44240,East
792,SM-20905,Susan MacKendrick,Consumer,46,United States,Newark,Ohio,43055,East

In [3]:
df.head()

,Customer ID,Customer Name,Segment,Age,Country,City,State,Postal Code,Region
0,CG-12520,Claire Gute,Consumer,67,United States,Henderson,Kentucky,42420,South
1,DV-13045,Darrin Van Huff,Corporate,31,United States,Los Angeles,California,90036,West
2,SO-20335,Sean O'Donnell,Consumer,65,United States,Fort Lauderdale,Florida,33311,South
3,BH-11710,Brosina Hoffman,Consumer,20,United States,Los Angeles,California,90032,West
4,AA-10480,Andrew Allen,Consumer,50,United States,Concord,North Carolina,28027,South

In [4]:
df.head(10)

,Customer ID,Customer Name,Segment,Age,Country,City,State,Postal Code,Region
0,CG-12520,Claire Gute,Consumer,67,United States,Henderson,Kentucky,42420,South
1,DV-13045,Darrin Van Huff,Corporate,31,United States,Los Angeles,California,90036,West
2,SO-20335,Sean O'Donnell,Consumer,65,United States,Fort Lauderdale,Florida,33311,South
3,BH-11710,Brosina Hoffman,Consumer,20,United States,Los Angeles,California,90032,West
4,AA-10480,Andrew Allen,Consumer,50,United States,Concord,North Carolina,28027,South
5,IM-15070,Irene Maddox,Consumer,66,United States,Seattle,Washington,98103,West
6,HP-14815,Harold Pawlan,Home Office,20,United States,Fort Worth,Texas,76106,Central
7,PK-19075,Pete Kriz,Consumer,46,United States,Madison,Wisconsin,53711,Central
8,AG-10270,Alejandro Grove,Consumer,18,United States,West Jordan,Utah,84084,West
9,ZD-21925,Zuschuss Donatelli,Consumer,66,United States,San Francisco,California,94109,West

In [5]:
df.tail()

,Customer ID,Customer Name,Segment,Age,Country,City,State,Postal Code,Region
788,CJ-11875,Carl Jackson,Corporate,64,United States,Philadelphia,Pennsylvania,19140,East
789,RS-19870,Roy Skaria,Home Office,39,United States,Burlington,Iowa,52601,Central
790,SC-20845,Sung Chung,Consumer,69,United States,Arlington Heights,Illinois,60004,Central
791,RE-19405,Ricardo Emerson,Consumer,35,United States,Kent,Ohio,44240,East
792,SM-20905,Susan MacKendrick,Consumer,46,United States,Newark,Ohio,43055,East

In [6]:
df = df.assign(Age_of_retiremnt = df['Age']>=60)

In [7]:
df

,Customer ID,Customer Name,Segment,Age,Country,City,State,Postal Code,Region,Age_of_retiremnt
0,CG-12520,Claire Gute,Consumer,67,United States,Henderson,Kentucky,42420,South,True
1,DV-13045,Darrin Van Huff,Corporate,31,United States,Los Angeles,California,90036,West,False
2,SO-20335,Sean O'Donnell,Consumer,65,United States,Fort Lauderdale,Florida,33311,South,True
3,BH-11710,Brosina Hoffman,Consumer,20,United States,Los Angeles,California,90032,West,False
4,AA-10480,Andrew Allen,Consumer,50,United States,Concord,North Carolina,28027,South,False
...,...,...,...,...,...,...,...,...,...,...
788,CJ-11875,Carl Jackson,Corporate,64,United States,Philadelphia,Pennsylvania,19140,East,True
789,RS-19870,Roy Skaria,Home Office,39,United States,Burlington,Iowa,52601,Central,False
790,SC-20845,Sung Chung,Consumer,69,United States,Arlington Heights,Illinois,60004,Central,True
791,RE-19405,Ricardo Emerson,Consumer,35,United States,Kent,Ohio,44240,East,False
792,SM-20905,Susan MacKendrick,Consumer,46,United States,Newark,Ohio,43055,East,False

In [8]:
df.query("Age>=60")

,Customer ID,Customer Name,Segment,Age,Country,City,State,Postal Code,Region,Age_of_retiremnt
0,CG-12520,Claire Gute,Consumer,67,United States,Henderson,Kentucky,42420,South,True
2,SO-20335,Sean O'Donnell,Consumer,65,United States,Fort Lauderdale,Florida,33311,South,True
5,IM-15070,Irene Maddox,Consumer,66,United States,Seattle,Washington,98103,West,True
9,ZD-21925,Zuschuss Donatelli,Consumer,66,United States,San Francisco,California,94109,West,True
10,KB-16585,Ken Black,Corporate,67,United States,Fremont,Nebraska,68025,Central,True
...,...,...,...,...,...,...,...,...,...,...
771,BP-11050,Barry Pond,Corporate,65,United States,Cranston,Rhode Island,2920,East,True
774,AO-10810,Anthony O'Donnell,Corporate,66,United States,Los Angeles,California,90045,West,True
779,TC-21145,Theresa Coyne,Corporate,63,United States,Lakewood,New Jersey,8701,East,True
788,CJ-11875,Carl Jackson,Corporate,64,United States,Philadelphia,Pennsylvania,19140,East,True
790,SC-20845,Sung Chung,Consumer,69,United States,Arlington Heights,Illinois,60004,Central,True

In [9]:
df1 = df.query("Age>=60 & Region == 'East'")
df1

,Customer ID,Customer Name,Segment,Age,Country,City,State,Postal Code,Region,Age_of_retiremnt
23,LH-16900,Lena Hernandez,Consumer,66,United States,Dover,Delaware,19901,East,True
61,DW-13585,Dorothy Wardle,Corporate,62,United States,Columbus,Ohio,43229,East,True
88,MP-17470,Mark Packer,Home Office,61,United States,New York City,New York,10035,East,True
91,VM-21685,Valerie Mitchum,Home Office,69,United States,Westfield,New Jersey,7090,East,True
100,VW-21775,Victoria Wilson,Corporate,62,United States,Medina,Ohio,44256,East,True
119,CA-12310,Christine Abelman,Corporate,68,United States,Cincinnati,Ohio,45231,East,True
139,JL-15850,John Lucas,Consumer,70,United States,Philadelphia,Pennsylvania,19134,East,True
153,AR-10405,Allen Rosenblatt,Corporate,66,United States,Franklin,Massachusetts,2038,East,True
160,MV-18190,Mike Vittorini,Consumer,66,United States,New York City,New York,10009,East,True
174,SD-20485,Shirley Daniels,Home Office,70,United States,New Rochelle,New York,10801,East,True
181,RB-19360,Raymond Buch,Consumer,70,United States,Auburn,New York,13021,East,True
216,AS-10135,Adrian Shami,Home Office,65,United States,New York City,New York,10035,East,True
236,TP-21130,Theone Pippenger,Consumer,64,United States,Philadelphia,Pennsylvania,19134,East,True
237,CK-12205,Chloris Kastensmidt,Consumer,61,United States,Philadelphia,Pennsylvania,19120,East,True
241,GD-14590,Giulietta Dortch,Corporate,62,United States,Philadelphia,Pennsylvania,19143,East,True
242,CK-12595,Clytie Kelty,Consumer,60,United States,Grove City,Ohio,43123,East,True
259,SP-20545,Sibella Parks,Corporate,68,United States,New York City,New York,10011,East,True
283,EG-13900,Emily Grady,Consumer,60,United States,Oceanside,New York,11572,East,True
293,LH-17020,Lisa Hazard,Consumer,60,United States,Columbus,Ohio,43229,East,True
335,JR-16210,Justin Ritter,Corporate,68,United States,Springfield,Ohio,45503,East,True
347,KH-16360,Katherine Hughes,Consumer,69,United States,Philadelphia,Pennsylvania,19143,East,True
375,DG-13300,Deirdre Greer,Corporate,60,United States,Philadelphia,Pennsylvania,19134,East,True
389,BT-11485,Brad Thomas,Home Office,66,United States,Clinton,Maryland,20735,East,True
434,CP-12085,Cathy Prescott,Corporate,62,United States,Norwich,Connecticut,6360,East,True
447,HM-14860,Harry Marie,Corporate,64,United States,Philadelphia,Pennsylvania,19120,East,True
470,KD-16495,Keith Dawkins,Corporate,68,United States,New York City,New York,10009,East,True
477,TS-21370,Todd Sumrall,Corporate,62,United States,New York City,New York,10035,East,True
488,CL-11890,Carl Ludwig,Consumer,63,United States,Everett,Massachusetts,2149,East,True
492,AB-10150,Aimee Bixby,Consumer,65,United States,Long Beach,New York,11561,East,True
496,CM-12190,Charlotte Melton,Consumer,66,United States,Philadelphia,Pennsylvania,19134,East,True
524,FM-14215,Filia McAdams,Corporate,62,United States,Dublin,Ohio,43017,East,True
537,BT-11680,Brian Thompson,Consumer,70,United States,Newark,Ohio,43055,East,True
556,AC-10615,Ann Chong,Corporate,61,United States,New York City,New York,10009,East,True
563,RH-19510,Rick Huthwaite,Home Office,67,United States,Providence,Rhode Island,2908,East,True
596,MW-18220,Mitch Webber,Consumer,69,United States,New York City,New York,10035,East,True
611,SG-20605,Speros Goranitis,Consumer,69,United States,New York City,New York,10009,East,True
622,JM-15865,John Murray,Consumer,66,United States,Jamestown,New York,14701,East,True
633,EN-13780,Edward Nazzal,Consumer,64,United States,New York City,New York,10035,East,True
641,SB-20170,Sarah Bern,Consumer,62,United States,New York City,New York,10035,East,True
660,DR-12940,Daniel Raglin,Home Office,65,United States,Franklin,Massachusetts,2038,East,True
675,MG-17875,Michael Grace,Home Office,67,United States,New York City,New York,10011,East,True
684,JG-15310,Jason Gross,Corporate,61,United States,Providence,Rhode Island,2908,East,True
687,JP-15460,Jennifer Patt,Corporate,69,United States,Oceanside,New York,11572,East,True
692,AH-10030,Aaron Hawkins,Corporate,60,United States,Philadelphia,Pennsylvania,19134,East,True
705,JO-15145,Jack O'Briant,Corporate,68,United States,Philadelphia,Pennsylvania,19140,East,True
713,RB-19330,Randy Bradley,Consumer,63,United States,Philadelphia,Pennsylvania,19143,East,True
717,RM-19750,Roland Murray,Consumer,66,United States,New York City,New York,10011,East,True
718,VM-21835,Vivian Mathis,Consumer,60,United States,Newark,Delaware,19711,East,True
723,DH-13675,Duane Huffman,Home Office,65,United States,Quincy,Massachusetts,2169,East,True
756,LR-17035,Lisa Ryan,Corporate,62,United States,Philadelphia,Pennsylvania,19134,East,True
771,BP-11050,Barry Pond,Corporate,65,United States,Cranston,Rhode Island,2920,East,True
779,TC-21145,Theresa Coyne,Corporate,63,United States,Lakewood,New Jersey,8701,East,True
788,CJ-11875,Carl Jackson,Corporate,64,United States,Philadelphia,Pennsylvania,19140,East,True

In [10]:
df.head()

,Customer ID,Customer Name,Segment,Age,Country,City,State,Postal Code,Region,Age_of_retiremnt
0,CG-12520,Claire Gute,Consumer,67,United States,Henderson,Kentucky,42420,South,True
1,DV-13045,Darrin Van Huff,Corporate,31,United States,Los Angeles,California,90036,West,False
2,SO-20335,Sean O'Donnell,Consumer,65,United States,Fort Lauderdale,Florida,33311,South,True
3,BH-11710,Brosina Hoffman,Consumer,20,United States,Los Angeles,California,90032,West,False
4,AA-10480,Andrew Allen,Consumer,50,United States,Concord,North Carolina,28027,South,False

In [11]:
df1.sort_values('Customer ID')

,Customer ID,Customer Name,Segment,Age,Country,City,State,Postal Code,Region,Age_of_retiremnt
492,AB-10150,Aimee Bixby,Consumer,65,United States,Long Beach,New York,11561,East,True
556,AC-10615,Ann Chong,Corporate,61,United States,New York City,New York,10009,East,True
692,AH-10030,Aaron Hawkins,Corporate,60,United States,Philadelphia,Pennsylvania,19134,East,True
153,AR-10405,Allen Rosenblatt,Corporate,66,United States,Franklin,Massachusetts,2038,East,True
216,AS-10135,Adrian Shami,Home Office,65,United States,New York City,New York,10035,East,True
771,BP-11050,Barry Pond,Corporate,65,United States,Cranston,Rhode Island,2920,East,True
389,BT-11485,Brad Thomas,Home Office,66,United States,Clinton,Maryland,20735,East,True
537,BT-11680,Brian Thompson,Consumer,70,United States,Newark,Ohio,43055,East,True
119,CA-12310,Christine Abelman,Corporate,68,United States,Cincinnati,Ohio,45231,East,True
788,CJ-11875,Carl Jackson,Corporate,64,United States,Philadelphia,Pennsylvania,19140,East,True
237,CK-12205,Chloris Kastensmidt,Consumer,61,United States,Philadelphia,Pennsylvania,19120,East,True
242,CK-12595,Clytie Kelty,Consumer,60,United States,Grove City,Ohio,43123,East,True
488,CL-11890,Carl Ludwig,Consumer,63,United States,Everett,Massachusetts,2149,East,True
496,CM-12190,Charlotte Melton,Consumer,66,United States,Philadelphia,Pennsylvania,19134,East,True
434,CP-12085,Cathy Prescott,Corporate,62,United States,Norwich,Connecticut,6360,East,True
375,DG-13300,Deirdre Greer,Corporate,60,United States,Philadelphia,Pennsylvania,19134,East,True
723,DH-13675,Duane Huffman,Home Office,65,United States,Quincy,Massachusetts,2169,East,True
660,DR-12940,Daniel Raglin,Home Office,65,United States,Franklin,Massachusetts,2038,East,True
61,DW-13585,Dorothy Wardle,Corporate,62,United States,Columbus,Ohio,43229,East,True
283,EG-13900,Emily Grady,Consumer,60,United States,Oceanside,New York,11572,East,True
633,EN-13780,Edward Nazzal,Consumer,64,United States,New York City,New York,10035,East,True
524,FM-14215,Filia McAdams,Corporate,62,United States,Dublin,Ohio,43017,East,True
241,GD-14590,Giulietta Dortch,Corporate,62,United States,Philadelphia,Pennsylvania,19143,East,True
447,HM-14860,Harry Marie,Corporate,64,United States,Philadelphia,Pennsylvania,19120,East,True
684,JG-15310,Jason Gross,Corporate,61,United States,Providence,Rhode Island,2908,East,True
139,JL-15850,John Lucas,Consumer,70,United States,Philadelphia,Pennsylvania,19134,East,True
622,JM-15865,John Murray,Consumer,66,United States,Jamestown,New York,14701,East,True
705,JO-15145,Jack O'Briant,Corporate,68,United States,Philadelphia,Pennsylvania,19140,East,True
687,JP-15460,Jennifer Patt,Corporate,69,United States,Oceanside,New York,11572,East,True
335,JR-16210,Justin Ritter,Corporate,68,United States,Springfield,Ohio,45503,East,True
470,KD-16495,Keith Dawkins,Corporate,68,United States,New York City,New York,10009,East,True
347,KH-16360,Katherine Hughes,Consumer,69,United States,Philadelphia,Pennsylvania,19143,East,True
23,LH-16900,Lena Hernandez,Consumer,66,United States,Dover,Delaware,19901,East,True
293,LH-17020,Lisa Hazard,Consumer,60,United States,Columbus,Ohio,43229,East,True
756,LR-17035,Lisa Ryan,Corporate,62,United States,Philadelphia,Pennsylvania,19134,East,True
675,MG-17875,Michael Grace,Home Office,67,United States,New York City,New York,10011,East,True
88,MP-17470,Mark Packer,Home Office,61,United States,New York City,New York,10035,East,True
160,MV-18190,Mike Vittorini,Consumer,66,United States,New York City,New York,10009,East,True
596,MW-18220,Mitch Webber,Consumer,69,United States,New York City,New York,10035,East,True
713,RB-19330,Randy Bradley,Consumer,63,United States,Philadelphia,Pennsylvania,19143,East,True
181,RB-19360,Raymond Buch,Consumer,70,United States,Auburn,New York,13021,East,True
563,RH-19510,Rick Huthwaite,Home Office,67,United States,Providence,Rhode Island,2908,East,True
717,RM-19750,Roland Murray,Consumer,66,United States,New York City,New York,10011,East,True
641,SB-20170,Sarah Bern,Consumer,62,United States,New York City,New York,10035,East,True
174,SD-20485,Shirley Daniels,Home Office,70,United States,New Rochelle,New York,10801,East,True
611,SG-20605,Speros Goranitis,Consumer,69,United States,New York City,New York,10009,East,True
259,SP-20545,Sibella Parks,Corporate,68,United States,New York City,New York,10011,East,True
779,TC-21145,Theresa Coyne,Corporate,63,United States,Lakewood,New Jersey,8701,East,True
236,TP-21130,Theone Pippenger,Consumer,64,United States,Philadelphia,Pennsylvania,19134,East,True
477,TS-21370,Todd Sumrall,Corporate,62,United States,New York City,New York,10035,East,True
91,VM-21685,Valerie Mitchum,Home Office,69,United States,Westfield,New Jersey,7090,East,True
718,VM-21835,Vivian Mathis,Consumer,60,United States,Newark,Delaware,19711,East,True
100,VW-21775,Victoria Wilson,Corporate,62,United States,Medina,Ohio,44256,East,True

In [12]:
df1 = df1.query("State == 'New York'")

In [13]:
df1

,Customer ID,Customer Name,Segment,Age,Country,City,State,Postal Code,Region,Age_of_retiremnt
88,MP-17470,Mark Packer,Home Office,61,United States,New York City,New York,10035,East,True
160,MV-18190,Mike Vittorini,Consumer,66,United States,New York City,New York,10009,East,True
174,SD-20485,Shirley Daniels,Home Office,70,United States,New Rochelle,New York,10801,East,True
181,RB-19360,Raymond Buch,Consumer,70,United States,Auburn,New York,13021,East,True
216,AS-10135,Adrian Shami,Home Office,65,United States,New York City,New York,10035,East,True
259,SP-20545,Sibella Parks,Corporate,68,United States,New York City,New York,10011,East,True
283,EG-13900,Emily Grady,Consumer,60,United States,Oceanside,New York,11572,East,True
470,KD-16495,Keith Dawkins,Corporate,68,United States,New York City,New York,10009,East,True
477,TS-21370,Todd Sumrall,Corporate,62,United States,New York City,New York,10035,East,True
492,AB-10150,Aimee Bixby,Consumer,65,United States,Long Beach,New York,11561,East,True
556,AC-10615,Ann Chong,Corporate,61,United States,New York City,New York,10009,East,True
596,MW-18220,Mitch Webber,Consumer,69,United States,New York City,New York,10035,East,True
611,SG-20605,Speros Goranitis,Consumer,69,United States,New York City,New York,10009,East,True
622,JM-15865,John Murray,Consumer,66,United States,Jamestown,New York,14701,East,True
633,EN-13780,Edward Nazzal,Consumer,64,United States,New York City,New York,10035,East,True
641,SB-20170,Sarah Bern,Consumer,62,United States,New York City,New York,10035,East,True
675,MG-17875,Michael Grace,Home Office,67,United States,New York City,New York,10011,East,True
687,JP-15460,Jennifer Patt,Corporate,69,United States,Oceanside,New York,11572,East,True
717,RM-19750,Roland Murray,Consumer,66,United States,New York City,New York,10011,East,True

In [14]:
df1.query("Age>=65")

,Customer ID,Customer Name,Segment,Age,Country,City,State,Postal Code,Region,Age_of_retiremnt
160,MV-18190,Mike Vittorini,Consumer,66,United States,New York City,New York,10009,East,True
174,SD-20485,Shirley Daniels,Home Office,70,United States,New Rochelle,New York,10801,East,True
181,RB-19360,Raymond Buch,Consumer,70,United States,Auburn,New York,13021,East,True
216,AS-10135,Adrian Shami,Home Office,65,United States,New York City,New York,10035,East,True
259,SP-20545,Sibella Parks,Corporate,68,United States,New York City,New York,10011,East,True
470,KD-16495,Keith Dawkins,Corporate,68,United States,New York City,New York,10009,East,True
492,AB-10150,Aimee Bixby,Consumer,65,United States,Long Beach,New York,11561,East,True
596,MW-18220,Mitch Webber,Consumer,69,United States,New York City,New York,10035,East,True
611,SG-20605,Speros Goranitis,Consumer,69,United States,New York City,New York,10009,East,True
622,JM-15865,John Murray,Consumer,66,United States,Jamestown,New York,14701,East,True
675,MG-17875,Michael Grace,Home Office,67,United States,New York City,New York,10011,East,True
687,JP-15460,Jennifer Patt,Corporate,69,United States,Oceanside,New York,11572,East,True
717,RM-19750,Roland Murray,Consumer,66,United States,New York City,New York,10011,East,True

In [15]:
df.describe()

              Age   Postal Code
count  793.000000    793.000000
mean    44.467844  55229.717528
std     15.526673  31679.223816
min     18.000000   1841.000000
25%     31.000000  27217.000000
50%     45.000000  55901.000000
75%     58.000000  90004.000000
max     70.000000  99207.000000

In [16]:
df1.describe()

             Age   Postal Code
count  19.000000     19.000000
mean   65.684211  10710.894737
std     3.249831   1283.495959
min    60.000000  10009.000000
25%    63.000000  10011.000000
50%    66.000000  10035.000000
75%    68.500000  11181.000000
max    70.000000  14701.000000

In [17]:
df.info

<bound method DataFrame.info of     Customer ID      Customer Name      Segment  Age        Country  \
0      CG-12520        Claire Gute     Consumer   67  United States
1      DV-13045    Darrin Van Huff    Corporate   31  United States
2      SO-20335     Sean O'Donnell     Consumer   65  United States
3      BH-11710    Brosina Hoffman     Consumer   20  United States
4      AA-10480       Andrew Allen     Consumer   50  United States
..          ...                ...          ...  ...            ...
788    CJ-11875       Carl Jackson    Corporate   64  United States
789    RS-19870         Roy Skaria  Home Office   39  United States
790    SC-20845         Sung Chung     Consumer   69  United States
791    RE-19405    Ricardo Emerson     Consumer   35  United States
792    SM-20905  Susan MacKendrick     Consumer   46  United States

                  City           State  Postal Code   Region  Age_of_retiremnt
0            Henderson        Kentucky        42420    South              True
1          Los Angeles      California        90036     West             False
2      Fort Lauderdale         Florida        33311    South              True
3          Los Angeles      California        90032     West             False
4              Concord  North Carolina        28027    South             False
..                 ...             ...          ...      ...               ...
788       Philadelphia    Pennsylvania        19140     East              True
789         Burlington            Iowa        52601  Central             False
790  Arlington Heights        Illinois        60004  Central              True
791               Kent            Ohio        44240     East             False
792             Newark            Ohio        43055     East             False

[793 rows x 10 columns]>

In [18]:
df1.info

<bound method DataFrame.info of     Customer ID     Customer Name      Segment  Age        Country  \
88     MP-17470       Mark Packer  Home Office   61  United States
160    MV-18190    Mike Vittorini     Consumer   66  United States
174    SD-20485   Shirley Daniels  Home Office   70  United States
181    RB-19360      Raymond Buch     Consumer   70  United States
216    AS-10135      Adrian Shami  Home Office   65  United States
259    SP-20545     Sibella Parks    Corporate   68  United States
283    EG-13900       Emily Grady     Consumer   60  United States
470    KD-16495     Keith Dawkins    Corporate   68  United States
477    TS-21370      Todd Sumrall    Corporate   62  United States
492    AB-10150       Aimee Bixby     Consumer   65  United States
556    AC-10615         Ann Chong    Corporate   61  United States
596    MW-18220      Mitch Webber     Consumer   69  United States
611    SG-20605  Speros Goranitis     Consumer   69  United States
622    JM-15865       John Murray     Consumer   66  United States
633    EN-13780     Edward Nazzal     Consumer   64  United States
641    SB-20170        Sarah Bern     Consumer   62  United States
675    MG-17875     Michael Grace  Home Office   67  United States
687    JP-15460     Jennifer Patt    Corporate   69  United States
717    RM-19750     Roland Murray     Consumer   66  United States

              City     State  Postal Code Region  Age_of_retiremnt
88   New York City  New York        10035   East              True
160  New York City  New York        10009   East              True
174   New Rochelle  New York        10801   East              True
181         Auburn  New York        13021   East              True
216  New York City  New York        10035   East              True
259  New York City  New York        10011   East              True
283      Oceanside  New York        11572   East              True
470  New York City  New York        10009   East              True
477  New York City  New York        10035   East              True
492     Long Beach  New York        11561   East              True
556  New York City  New York        10009   East              True
596  New York City  New York        10035   East              True
611  New York City  New York        10009   East              True
622      Jamestown  New York        14701   East              True
633  New York City  New York        10035   East              True
641  New York City  New York        10035   East              True
675  New York City  New York        10011   East              True
687      Oceanside  New York        11572   East              True
717  New York City  New York        10011   East              True  >

In [19]:
df.sample()

,Customer ID,Customer Name,Segment,Age,Country,City,State,Postal Code,Region,Age_of_retiremnt
97,LE-16810,Laurel Elliston,Consumer,62,United States,Whittier,California,90604,West,True

In [20]:
df.sample(10)

,Customer ID,Customer Name,Segment,Age,Country,City,State,Postal Code,Region,Age_of_retiremnt
458,SV-20815,Stuart Van,Corporate,42,United States,Houston,Texas,77041,Central,False
207,MG-18145,Mike Gockenbach,Consumer,51,United States,Philadelphia,Pennsylvania,19134,East,False
449,SZ-20035,Sam Zeldin,Home Office,39,United States,Pico Rivera,California,90660,West,False
628,LO-17170,Lori Olson,Corporate,29,United States,La Quinta,California,92253,West,False
473,CS-12505,Cindy Stewart,Consumer,41,United States,Thomasville,North Carolina,27360,South,False
704,DH-13075,Dave Hallsten,Corporate,58,United States,Richmond,Kentucky,40475,South,False
655,JP-16135,Julie Prescott,Home Office,57,United States,Columbus,Georgia,31907,South,False
745,VS-21820,Vivek Sundaresam,Consumer,22,United States,Los Angeles,California,90036,West,False
291,CP-12340,Christine Phan,Corporate,38,United States,New York City,New York,10009,East,False
419,DC-12850,Dan Campbell,Consumer,50,United States,Florence,Alabama,35630,South,False

In [21]:
df.dropna()

,Customer ID,Customer Name,Segment,Age,Country,City,State,Postal Code,Region,Age_of_retiremnt
0,CG-12520,Claire Gute,Consumer,67,United States,Henderson,Kentucky,42420,South,True
1,DV-13045,Darrin Van Huff,Corporate,31,United States,Los Angeles,California,90036,West,False
2,SO-20335,Sean O'Donnell,Consumer,65,United States,Fort Lauderdale,Florida,33311,South,True
3,BH-11710,Brosina Hoffman,Consumer,20,United States,Los Angeles,California,90032,West,False
4,AA-10480,Andrew Allen,Consumer,50,United States,Concord,North Carolina,28027,South,False
...,...,...,...,...,...,...,...,...,...,...
788,CJ-11875,Carl Jackson,Corporate,64,United States,Philadelphia,Pennsylvania,19140,East,True
789,RS-19870,Roy Skaria,Home Office,39,United States,Burlington,Iowa,52601,Central,False
790,SC-20845,Sung Chung,Consumer,69,United States,Arlington Heights,Illinois,60004,Central,True
791,RE-19405,Ricardo Emerson,Consumer,35,United States,Kent,Ohio,44240,East,False
792,SM-20905,Susan MacKendrick,Consumer,46,United States,Newark,Ohio,43055,East,False

In [22]:
df1 = df.drop(columns = ['Age_of_retiremnt','Postal Code','City','Country'] )

In [23]:
df1

    Customer ID      Customer Name      Segment  Age           State   Region
0      CG-12520        Claire Gute     Consumer   67        Kentucky    South
1      DV-13045    Darrin Van Huff    Corporate   31      California     West
2      SO-20335     Sean O'Donnell     Consumer   65         Florida    South
3      BH-11710    Brosina Hoffman     Consumer   20      California     West
4      AA-10480       Andrew Allen     Consumer   50  North Carolina    South
..          ...                ...          ...  ...             ...      ...
788    CJ-11875       Carl Jackson    Corporate   64    Pennsylvania     East
789    RS-19870         Roy Skaria  Home Office   39            Iowa  Central
790    SC-20845         Sung Chung     Consumer   69        Illinois  Central
791    RE-19405    Ricardo Emerson     Consumer   35            Ohio     East
792    SM-20905  Susan MacKendrick     Consumer   46            Ohio     East

[793 rows x 6 columns]

In [28]:
df1.groupby('State').median('Age')

                       Age
State
Alabama               31.0
Arizona               45.0
Arkansas              30.0
California            42.0
Colorado              49.0
Connecticut           38.0
Delaware              45.5
District of Columbia  24.0
Florida               55.0
Georgia               44.0
Illinois              34.0
Indiana               40.5
Iowa                  39.0
Kansas                20.0
Kentucky              58.0
Louisiana             58.0
Maryland              36.5
Massachusetts         53.5
Michigan              47.0
Minnesota             48.0
Mississippi           30.0
Missouri              50.5
Nebraska              59.0
Nevada                37.5
New Hampshire         39.5
New Jersey            41.5
New Mexico            47.5
New York              47.0
North Carolina        48.5
Ohio                  41.5
Oklahoma              63.0
Oregon                61.0
Pennsylvania          44.0
Rhode Island          61.0
South Dakota          63.0
Tennessee             50.0
Texas                 46.0
Utah                  53.0
Virginia              54.0
Washington            43.0
Wisconsin             47.0

In [30]:
pivot = pd.pivot_table(columns = 'Customer ID',
                      values = 'Age',
                      data = df1, aggfunc = 'median')
pivot

Customer ID,AA-10315,AA-10375,AA-10480,AA-10645,AB-10015,AB-10060,AB-10105,AB-10150,AB-10165,AB-10255,...,VP-21760,VS-21820,VT-21700,VW-21775,WB-21850,XP-21865,YC-21895,YS-21880,ZC-21910,ZD-21925
Age,66,22,50,32,66,25,63,65,22,34,...,35,22,44,62,38,32,42,31,61,66

In [31]:
pivot = pivot.transpose()

In [32]:
pivot

             Age
Customer ID
AA-10315      66
AA-10375      22
AA-10480      50
AA-10645      32
AB-10015      66
...          ...
XP-21865      32
YC-21895      42
YS-21880      31
ZC-21910      61
ZD-21925      66

[793 rows x 1 columns]